body  {
  background: grey;
  margin: auto;
  text-align: center;
}

#survey-form  {
  display: block;
  margin: auto;
  max-width: 60%;
  padding: 15px;
  background: white;
  /* text-align: center; */
}
#survey-form label  {
  text-align: left;
}

.textarea {
  padding: 15px;
  max-width: 60%;
  display: block;
  margin: auto;
}
