body  {
  background: grey;
  margin: auto;
}

#survey-form  {
  display: block;
  margin: auto;
  max-width: 60%;
  padding: 15px;
  background: white;
  text-align: center;
}

.textarea {
  padding: 15px;
  max-width: 60%;
  display: block;
  margin: auto;
}
