body {
  background: grey;
  margin: auto;
  text-align: center;
}

#survey-form {
  display: block;
  margin: auto;
  max-width: 60%;
  padding: 15px;
  background: white;
  text-align: center;
}

.survey-label {
  margin: 0 auto;
  display: block;
  width: 50%;
}

.survey-label label{
  text-align: left;
  display: block;
}

.textarea {
  padding: 15px;
  max-width: 60%;
  display: block;
  margin: auto;
}
